{{ define "main" }}

<header class="mb-4 bg-primary-600">
    <span class="py-96">
        <h1 class="py-16 text-5xl font-black text-center text-white capitalize">
            {{ .Title }}
        </h1>
    </span>
</header>

<div class="responsive-container-block container">

<h5 class="pub-card-title dark:text-white" > Below is a list of our selected publications. ( `*` = equal contribution ) </h5> 

  <div class="responsive-container-block">
      {{ range .Params.paper }}
      {{ partial "publications-template.html" . }}
      {{ end }}
  </div>
</div>

<a class="pub-card2" href="{{ .Params.Archive }}">
    <b>Click here for a complete list of publications.</b>
    <div class="go-corner">
      <div class="go-arrow">
        →
      </div>
    </div>
  </a>
  

</br> </br>

{{ end }}
